* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --dark-pink-color:#ff9e9e;
    --light-pink-color:#ff4f8b;
    --pink-color:#ff359b;
    --cyan-color:#00d2ff;
    --light-cyan-color:#d1f1ff;
}



section:before{
    backdrop-filter: blur(10px);
    background-color:rgba(255,255,255,0.1);
    border-top:1px solid rgba(255,255,255,0.5);
    bottom:0;
    content:'';
    left:0;
    position:absolute;
    width:100%;
    height:50%;
    z-index:10;
}
section{
    align-items:center;
    background-image:linear-gradient(to bottom, var(--light-pink-color), var(--light-cyan-color));
    display:flex;
    height:20vh;
    justify-content:center;
    position: absolute;
    width:100%;
}
section .color {
    filter: blur(150px);
    position: absolute;
}

section .color:nth-child(1) {
    background-color: var(--dark-pink-color);
    height: 600px;
    top: -350px;
    width: 600px;
}

section .color:nth-child(2) {
    background-color: var(--pink-color);
    bottom: -150px;
    height: 500px;
    left: 100px;
    width: 500px;
}

section .color:nth-child(3) {
    background-color: var(--cyan-color);
    bottom: -50px;
    height: 300px;
    right: 0;
    width: 300px;
}

section ul{
    display:flex;
    position:relative;
}
section ul li{
    list-style:none;
    margin:10px;
    position:relative;
}
section ul li a::before{
    background-color:rgba(255,255,255,0.5);
    content:'';
    height:100%;
    left:0;
    position:absolute;
    top:0;
    transform:skewX(45deg) translateX(150px);
    -webkit-transform:skewX(45deg) translateX(150px);
    -moz-transform:skewX(45deg) translateX(150px);
    -ms-transform:skewX(45deg) translateX(150px);
    -o-transform:skewX(45deg) translateX(150px);
    transition:transform 0.5s ease;
    -webkit-transition:transform 0.5s ease;
    -moz-transition:transform 0.5s ease;
    -ms-transition:transform 0.5s ease;
    -o-transition:transform 0.5s ease;
    width:50px;
}
section ul li a:hover:before,
section ul li a:focus:before,
section ul li a:active:before{
    transform:skewX(45deg) translateX(-150px);
    -webkit-transform:skewX(45deg) translateX(-150px);
    -moz-transform:skewX(45deg) translateX(-150px);
    -ms-transform:skewX(45deg) translateX(-150px);
    -o-transform:skewX(45deg) translateX(-150px);
}
section ul li a{
    align-items: center;
    background-clip:text;
    backdrop-filter: blur(4px);
    background-color:rgba(255,255,255,0.1);
    border:1px solid rgba(255,255,255,0.4);
    border-bottom-color:rgba(255,255,255,0.2);
    border-right-color:rgba(255,255,255,0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color:rgba(0,0,0,0);
    display:flex;
    font-size:2rem;
    height:80px;
    justify-content:center;
    overflow:hidden;
    position:relative;
    text-decoration: none;
    top:0;
    transition:top 0.5s ease, transform 0.5s ease, z-index 0s ease;
    -webkit-transition:top 0.5s ease, transform 0.5s ease, z-index 0s ease;
    -moz-transition:top 0.5s ease, transform 0.5s ease, z-index 0s ease;
    -ms-transition:top 0.5s ease, transform 0.5s ease, z-index 0s ease;
    -o-transition:top 0.5s ease, transform 0.5s ease, z-index 0s ease;
    transition-delay: 0.5s, 0s, 0.5s;
    text-shadow: 0 0 1px rgba(255,255,255,0.4);
    width:80px;
    z-index: 1;
}

section ul li a:hover,
section ul li a:focus,
section ul li a:active{
    top:-50px;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transition-delay: 0s, 0.5s, 0.5s;
    z-index: 11;
}
img{
    height:70px ;
    width: 70px;
    box-shadow: black;
}

h1{ 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 600;
     font-size: 18px;
     color: DarkSlateGray;
   
}
h2{ 
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: Indigo;

}
    

h3{ 
  font-family: "Public Sans", Verdana, sans-serif;
  font-size: 18px;
  color: LimeGreen;
} 

  /* modal*/
  ::-webkit-textfield-decoration-container {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  color: #333;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  max-width: 50%;
  padding: 1rem 2rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  color-interpolation-filters {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  
  }
}
